.droppable-active {
	background-color: #ffe !important;
}
.tools a {
	cursor: pointer;
	font-size: 80%;
}
.form-body .col-md-6, .form-body .col-md-12 {
	min-height: 400px;
}
.draggable {
	cursor: move;
}
